{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Calcbench API"
    },
    "host": "www.calcbench.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/availablemetrics": {
            "get": {
                "tags": [
                    "AvailableMetrics"
                ],
                "operationId": "AvailableMetrics_GetValues",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MetricGroups"
                        }
                    }
                }
            }
        },
        "/api/businessCombinations": {
            "post": {
                "tags": [
                    "BusinessCombinations"
                ],
                "summary": "The data behind the business combinations page, https://www.calcbench.com/businesscombinations",
                "operationId": "BusinessCombinations_BusinessCombinations",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "searchParameters",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BusinessCombinationsParameters"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PurchasePriceAllocation"
                            }
                        }
                    }
                }
            }
        },
        "/api/companies": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "operationId": "Companies_AvailableCompanies",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "searchParameters.userAlertCompanies",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.sICCodes",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "searchParameters.index",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "searchParameters.peerGroup",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "searchParameters.universe",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.sECOnly",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.calcbenchEntityIds",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "searchParameters.nameAndTickerOnly",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.includeMostRecentFilingExtras",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.companyIdentifiers",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "searchParameters.nAICSCodes",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/APIXBRLCompany"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Companies"
                ],
                "operationId": "Companies_AvailableCompanies",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "searchParameters.userAlertCompanies",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.sICCodes",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "searchParameters.index",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "searchParameters.peerGroup",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "searchParameters.universe",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.sECOnly",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.calcbenchEntityIds",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "searchParameters.nameAndTickerOnly",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.includeMostRecentFilingExtras",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "searchParameters.companyIdentifiers",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "searchParameters.nAICSCodes",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/APIXBRLCompany"
                            }
                        }
                    }
                }
            }
        },
        "/api/dimensionalData": {
            "post": {
                "tags": [
                    "DimensionalData"
                ],
                "summary": "The data behind https://www.calcbench.com/segments",
                "operationId": "DimensionalData_DimensionalData",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DimensionalSearchParameters"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DimensionalDataPoint"
                            }
                        }
                    }
                }
            }
        },
        "/api/footnoteSearch": {
            "post": {
                "tags": [
                    "Disclosure"
                ],
                "summary": "Document Search",
                "description": "The search behind the <a href=\"/disclosures\">disclosures</a> page.\r\nTo get all results keep calling with <code>nextGroupStartOffset</code> from the previous response, until <code>moreResults</code> is false.\r\nRetrieving the document contents varies depending on the type of document returned.",
                "operationId": "Disclosure_FootnoteSearch",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "searchParameters",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FootnoteSearchParameters"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FootnoteQueryResponse"
                        }
                    }
                }
            }
        },
        "/api/faceStatements": {
            "get": {
                "tags": [
                    "FaceStatements"
                ],
                "summary": "Gets the list of statements for one company/period",
                "operationId": "FaceStatements_getStatements",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "ticker",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "periodType",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "none",
                            "Q",
                            "Y",
                            "halfYear",
                            "Q3CUM",
                            "cumulative",
                            "ttm",
                            "Q_Y_combined"
                        ]
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/StatementsMetaData"
                        }
                    }
                }
            }
        },
        "/api/faceStatement": {
            "get": {
                "tags": [
                    "FaceStatements"
                ],
                "summary": "As-reported face statments, income, balance, statement of cash flows, etc...",
                "description": "This is data behind the calcbench <a href=\"www.calcbench.com/detail\">Company-In-Detail page</a>.\r\nFormerly known as api/asReported",
                "operationId": "FaceStatements_GetStatementExteneral",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "companyIdentifier",
                        "in": "query",
                        "description": "Ticker or CIK",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "statementType",
                        "in": "query",
                        "description": "income|balance|cash|change-in-equity|comprehensive-income",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "periodType",
                        "in": "query",
                        "description": "annual|quarterly|combined|cumulative",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "allPeriods",
                        "in": "query",
                        "description": "include all history",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "descendingDates",
                        "in": "query",
                        "description": "most recent period first",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Get statement before this date",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "accessionID",
                        "in": "query",
                        "description": "Internal Calcbench",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pointInTime",
                        "in": "query",
                        "description": "As originally reported, without revisions, defaults to false",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "networkID",
                        "in": "query",
                        "description": "Interal Calcbench",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "forDisplay",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "USD",
                            "AUD",
                            "BRL",
                            "CAD",
                            "CHF",
                            "CNY",
                            "DKK",
                            "EUR",
                            "GBP",
                            "HKD",
                            "INR",
                            "JPY",
                            "KRW",
                            "LKR",
                            "MXN",
                            "MYR",
                            "NOK",
                            "NZD",
                            "SEK",
                            "SGD",
                            "THB",
                            "TWD",
                            "VEF",
                            "ZAR"
                        ]
                    },
                    {
                        "name": "includeNonXBRL",
                        "in": "query",
                        "description": "Include data from earnings releases",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIXBRLStatement"
                        }
                    }
                }
            }
        },
        "/api/filingsV2": {
            "post": {
                "tags": [
                    "Filings"
                ],
                "operationId": "Filings_FilingsV2",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "filingsParams",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FilingsParameters"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Filing"
                            }
                        }
                    }
                }
            }
        },
        "/api/rawXBRLData": {
            "post": {
                "tags": [
                    "RawData"
                ],
                "summary": "XBRL data As-Reported",
                "description": "The data behind the <a href=\"/xbrl\">raw data page.</a>",
                "operationId": "RawData_RawXBRLData",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RawXBRLDataSearchParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/RawXBRLFact"
                            }
                        }
                    }
                }
            }
        },
        "/api/rawNonXBRLData": {
            "post": {
                "tags": [
                    "RawData"
                ],
                "summary": "Non-XBRL Data As-Reported",
                "description": "The data behind the <a href=\"/nonXBRLRawData\">non-XBRL raw data</a> page.",
                "operationId": "RawData_RawNonXBRLData",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RawNonXBRLDataSearchParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/NonXBRLFact"
                            }
                        }
                    }
                }
            }
        },
        "/api/raw13FData": {
            "post": {
                "tags": [
                    "RawData"
                ],
                "summary": "13F data",
                "description": "The data behind the <a href=\"/xbrl\">13F data page.</a>",
                "operationId": "RawData_Raw13FData",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Raw13FDataSearchParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/XBRLTagValuesV2": {
            "post": {
                "tags": [
                    "RawXBRL"
                ],
                "summary": "Get data for individual tags on the multi-company page.",
                "description": "See <a href=\"https://www.calcbench.com/multi?pg_classificationMethod=index&amp;pg_title=Dow%20Jones%20Industrial%20Average&amp;pg_sectorCode=DJIA&amp;mc_metrics=%7B%22metric%22:%22Revenues%22,%22dataSet%22:2,%22format_type%22:%22currency%22%7D\">Example</a>",
                "operationId": "RawXBRL_XBRLTagValues",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "searchParameters",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XBRLTagSearchParameters"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/api/mappedData": {
            "post": {
                "tags": [
                    "StandardizedData"
                ],
                "operationId": "StandardizedData_MappedData",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "searchParameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MappedDataSearchParameters"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MappedDataPoint"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "MetricGroups": {
            "type": "object",
            "properties": {
                "face": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/StandardizedMetricDefinition"
                    }
                },
                "footnote": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/StandardizedFootnoteMetricDefinition"
                    }
                },
                "ratio": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/StandardizedMetricDefinition"
                    }
                }
            }
        },
        "StandardizedMetricDefinition": {
            "type": "object",
            "properties": {
                "metric": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "period_type": {
                    "type": "string"
                },
                "section": {
                    "type": "string"
                },
                "class": {
                    "type": "string"
                },
                "equation": {
                    "type": "string"
                },
                "format_type": {
                    "type": "string"
                },
                "is_face": {
                    "type": "boolean"
                },
                "is_footnote": {
                    "type": "boolean"
                },
                "is_ratio": {
                    "type": "boolean"
                },
                "description": {
                    "type": "string"
                },
                "UnitOfMeasure": {
                    "enum": [
                        "Currency",
                        "PerShare",
                        "Ratio",
                        "Date",
                        "Text",
                        "Number",
                        "Boolean",
                        "Shares",
                        "Percent"
                    ],
                    "type": "string"
                }
            }
        },
        "StandardizedFootnoteMetricDefinition": {
            "type": "object",
            "properties": {
                "related_footnotes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "indent_level": {
                    "format": "int32",
                    "type": "integer"
                },
                "metric": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "period_type": {
                    "type": "string"
                },
                "section": {
                    "type": "string"
                },
                "class": {
                    "type": "string"
                },
                "equation": {
                    "type": "string"
                },
                "format_type": {
                    "type": "string"
                },
                "is_face": {
                    "type": "boolean"
                },
                "is_footnote": {
                    "type": "boolean"
                },
                "is_ratio": {
                    "type": "boolean"
                },
                "description": {
                    "type": "string"
                },
                "UnitOfMeasure": {
                    "enum": [
                        "Currency",
                        "PerShare",
                        "Ratio",
                        "Date",
                        "Text",
                        "Number",
                        "Boolean",
                        "Shares",
                        "Percent"
                    ],
                    "type": "string"
                }
            }
        },
        "BusinessCombinationsParameters": {
            "type": "object",
            "properties": {
                "pageParameters": {
                    "$ref": "#/definitions/IPageQueryParameters"
                },
                "periodParameters": {
                    "$ref": "#/definitions/PeriodParameters"
                },
                "companiesParameters": {
                    "$ref": "#/definitions/CompaniesParameters"
                }
            }
        },
        "IPageQueryParameters": {
            "type": "object",
            "properties": {}
        },
        "PeriodParameters": {
            "type": "object",
            "properties": {
                "year": {
                    "format": "int32",
                    "type": "integer"
                },
                "period": {
                    "enum": [
                        "unset",
                        "y",
                        "q1",
                        "q2",
                        "q3",
                        "q4",
                        "h1",
                        "Q3Cum",
                        "TTM",
                        "MRQ",
                        "MRQ_fiscal",
                        "MRCumulative",
                        "year_fiscal",
                        "combined",
                        "allHistory",
                        "MostRecentPeriod",
                        "DateRange"
                    ],
                    "type": "string"
                },
                "endYear": {
                    "format": "int32",
                    "type": "integer"
                },
                "endPeriod": {
                    "enum": [
                        "unset",
                        "y",
                        "q1",
                        "q2",
                        "q3",
                        "q4",
                        "h1",
                        "Q3Cum",
                        "TTM",
                        "MRQ",
                        "MRQ_fiscal",
                        "MRCumulative",
                        "year_fiscal",
                        "combined",
                        "allHistory",
                        "MostRecentPeriod",
                        "DateRange"
                    ],
                    "type": "string"
                },
                "periodType": {
                    "type": "string"
                },
                "useFiscalPeriod": {
                    "type": "boolean"
                },
                "dateRange": {
                    "$ref": "#/definitions/DateRange"
                },
                "allHistory": {
                    "type": "boolean"
                },
                "updateDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "updatedFrom": {
                    "format": "date-time",
                    "type": "string"
                },
                "asOriginallyReported": {
                    "type": "boolean"
                },
                "accessionID": {
                    "format": "int32",
                    "type": "integer"
                },
                "filingID": {
                    "format": "int32",
                    "type": "integer"
                }
            }
        },
        "CompaniesParameters": {
            "type": "object",
            "properties": {
                "companyIdentifiers": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "entireUniverse": {
                    "type": "boolean"
                },
                "calcbenchEntityIDs": {
                    "type": "array",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    }
                }
            }
        },
        "DateRange": {
            "type": "object",
            "properties": {
                "startDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "endDate": {
                    "format": "date-time",
                    "type": "string"
                }
            }
        },
        "PurchasePriceAllocation": {
            "description": "Standardized M and A data",
            "type": "object",
            "properties": {
                "acquisition_date": {
                    "format": "date-time",
                    "type": "string"
                },
                "date_reported": {
                    "format": "date-time",
                    "type": "string"
                },
                "date_originally_reported": {
                    "format": "date-time",
                    "type": "string"
                },
                "target": {
                    "description": "The company being acquired",
                    "type": "string"
                },
                "enterprise_value": {
                    "format": "double",
                    "description": "Purchase price + Debt - Cash",
                    "type": "number",
                    "readOnly": true
                },
                "parent_company": {
                    "description": "The acquiring company",
                    "type": "string"
                },
                "parent_company_ticker": {
                    "type": "string"
                },
                "parent_company_cik": {
                    "type": "string"
                },
                "parent_company_state": {
                    "type": "string"
                },
                "parent_company_SIC_code": {
                    "format": "int32",
                    "type": "integer"
                },
                "purchase_price": {
                    "$ref": "#/definitions/DimensionalDataPoint"
                },
                "trace_link": {
                    "type": "string"
                },
                "intangible_categories": {
                    "description": "Defined by a Calcbench client",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/IntangibleAssetsCategory"
                    },
                    "readOnly": true
                },
                "standardized_PPA_points": {
                    "description": "All of the BusinessCombinations... points",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/MappedDataPoint"
                    }
                }
            }
        },
        "DimensionalDataPoint": {
            "description": "Returned by calls to the dimensional(segment) API end-point",
            "type": "object",
            "properties": {
                "is_subtotal": {
                    "type": "boolean"
                },
                "dimensions": {
                    "description": "Keys are the axis names, values are the member names.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "container": {
                    "type": "string"
                },
                "standardized_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "metric": {
                    "type": "string"
                },
                "value": {
                    "type": "object"
                },
                "calendar_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "calendar_period": {
                    "format": "int32",
                    "type": "integer"
                },
                "fiscal_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "fiscal_period": {
                    "format": "int32",
                    "type": "integer"
                },
                "trace_facts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TraceData"
                    }
                },
                "ticker": {
                    "type": "string"
                },
                "CIK": {
                    "type": "string"
                },
                "calcbench_entity_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "filing_type": {
                    "type": "string"
                },
                "preliminary": {
                    "type": "boolean"
                },
                "filing_accession_number": {
                    "type": "string"
                },
                "trace_url": {
                    "type": "string",
                    "readOnly": true
                },
                "revision_number": {
                    "format": "int32",
                    "type": "integer"
                },
                "XBRL": {
                    "type": "boolean"
                }
            }
        },
        "IntangibleAssetsCategory": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "value": {
                    "format": "double",
                    "type": "number"
                },
                "useful_life_upper_range": {
                    "format": "double",
                    "type": "number"
                },
                "useful_life_lower_range": {
                    "format": "double",
                    "type": "number"
                },
                "trace_facts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TraceData"
                    }
                },
                "format_type": {
                    "enum": [
                        "error",
                        "text",
                        "currency",
                        "percent",
                        "twoDecimalPointsCurrency",
                        "twoDecimalPointsNumber",
                        "number",
                        "date",
                        "rawNumber",
                        "boolean",
                        "formula",
                        "currency_cad",
                        "currency_eur",
                        "currency_gbp",
                        "currency_jpy",
                        "currency_cny",
                        "emptyCell"
                    ],
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "MappedDataPoint": {
            "type": "object",
            "properties": {
                "standardized_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "metric": {
                    "type": "string"
                },
                "value": {
                    "type": "object"
                },
                "calendar_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "calendar_period": {
                    "format": "int32",
                    "type": "integer"
                },
                "fiscal_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "fiscal_period": {
                    "format": "int32",
                    "type": "integer"
                },
                "trace_facts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TraceData"
                    }
                },
                "ticker": {
                    "type": "string"
                },
                "CIK": {
                    "type": "string"
                },
                "calcbench_entity_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "filing_type": {
                    "type": "string"
                },
                "preliminary": {
                    "type": "boolean"
                },
                "filing_accession_number": {
                    "type": "string"
                },
                "trace_url": {
                    "type": "string",
                    "readOnly": true
                },
                "revision_number": {
                    "format": "int32",
                    "type": "integer"
                },
                "XBRL": {
                    "type": "boolean"
                }
            }
        },
        "TraceData": {
            "type": "object",
            "properties": {
                "dimensions": {
                    "type": "string"
                },
                "local_name": {
                    "type": "string"
                },
                "negative_weight": {
                    "type": "boolean"
                },
                "XBRL_fact_value": {
                    "type": "object"
                },
                "fact_id": {
                    "format": "int32",
                    "type": "integer"
                }
            }
        },
        "CompanySearchParameters": {
            "type": "object",
            "properties": {
                "userAlertCompanies": {
                    "type": "boolean"
                },
                "SICCodes": {
                    "type": "array",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "index": {
                    "type": "string"
                },
                "peerGroup": {
                    "type": "string"
                },
                "universe": {
                    "type": "boolean"
                },
                "SECOnly": {
                    "type": "boolean"
                },
                "calcbenchEntityIds": {
                    "type": "array",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "nameAndTickerOnly": {
                    "type": "boolean"
                },
                "includeMostRecentFilingExtras": {
                    "type": "boolean"
                },
                "companyIdentifiers": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "NAICSCodes": {
                    "type": "array",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    }
                }
            }
        },
        "APIXBRLCompany": {
            "type": "object",
            "properties": {
                "entity_name": {
                    "type": "string"
                },
                "entity_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "ticker": {
                    "type": "string"
                },
                "entity_code": {
                    "type": "string"
                },
                "sic_code": {
                    "format": "int32",
                    "type": "integer"
                },
                "naics": {
                    "format": "int32",
                    "type": "integer"
                },
                "naics2": {
                    "format": "int32",
                    "type": "integer"
                },
                "assets": {
                    "format": "double",
                    "type": "number"
                },
                "revenue": {
                    "format": "double",
                    "type": "number"
                },
                "state": {
                    "type": "string"
                },
                "country": {
                    "type": "string"
                },
                "zip": {
                    "type": "string"
                },
                "EntityIncorporationStateCountryCode": {
                    "type": "string"
                },
                "EntityTaxIdentificationNumber": {
                    "type": "string"
                },
                "SecurityExchangeName": {
                    "type": "string"
                },
                "FYEndDateChange": {
                    "format": "int32",
                    "type": "integer"
                },
                "status": {
                    "enum": [
                        "normal",
                        "subsidiary",
                        "inactive",
                        "fundOrOtherNonCompany",
                        "nonXBRLFilingEntity",
                        "NonSEC_Japan",
                        "ESMA_ESEF_XBRLFilingEntity"
                    ],
                    "type": "string"
                },
                "Street1": {
                    "type": "string"
                },
                "Street2": {
                    "type": "string"
                },
                "most_recent_filing": {
                    "format": "date-time",
                    "type": "string"
                },
                "most_recent_full_year_end": {
                    "format": "date-time",
                    "type": "string"
                },
                "most_recent_fiscal_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "most_recent_complete_calendar_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "most_recent_complete_fiscal_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "most_recent_filing_calendar_period": {
                    "format": "int32",
                    "type": "integer"
                },
                "most_recent_filing_calendar_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "first_filing": {
                    "format": "date-time",
                    "type": "string"
                },
                "cik_code": {
                    "type": "object",
                    "readOnly": true
                },
                "SICCategory": {
                    "type": "string",
                    "readOnly": true
                },
                "naics_code": {
                    "type": "object",
                    "readOnly": true
                },
                "city": {
                    "type": "string",
                    "readOnly": true
                },
                "street_address": {
                    "type": "string",
                    "readOnly": true
                },
                "naics_minor_group_title": {
                    "type": "string"
                },
                "SICGroupMinorGroupTitle": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "DimensionalSearchParameters": {
            "description": "The arguments for the Segment API end-point",
            "type": "object",
            "properties": {
                "pageParameters": {
                    "$ref": "#/definitions/DimensionalQueryParameters"
                },
                "periodParameters": {
                    "$ref": "#/definitions/PeriodParameters"
                },
                "companiesParameters": {
                    "$ref": "#/definitions/CompaniesParameters"
                }
            }
        },
        "DimensionalQueryParameters": {
            "type": "object",
            "properties": {
                "searchTerms": {
                    "type": "string"
                },
                "metrics": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "filterValue": {
                    "format": "double",
                    "type": "number"
                },
                "filterOperator": {
                    "format": "int32",
                    "type": "integer"
                },
                "queryID": {
                    "type": "string"
                },
                "AsOriginallyReported": {
                    "description": "Show the first reported, rather than revised, values",
                    "type": "boolean"
                },
                "dimensionName": {
                    "type": "string"
                },
                "dataSet": {
                    "type": "string"
                }
            }
        },
        "FootnoteSearchParameters": {
            "type": "object",
            "properties": {
                "pageParameters": {
                    "$ref": "#/definitions/FootnoteQueryParameters"
                },
                "periodParameters": {
                    "$ref": "#/definitions/FootnotePeriodParameters"
                },
                "companiesParameters": {
                    "$ref": "#/definitions/CompaniesParameters"
                }
            }
        },
        "FootnoteQueryParameters": {
            "type": "object",
            "properties": {
                "fullTextQuery": {
                    "type": "string"
                },
                "arcRoles": {
                    "type": "array",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "footnoteTag": {
                    "type": "string"
                },
                "startEntityID": {
                    "format": "int32",
                    "type": "integer"
                },
                "startOffset": {
                    "format": "int32",
                    "type": "integer"
                },
                "accessionID": {
                    "format": "int32",
                    "type": "integer"
                },
                "allFootnotes": {
                    "type": "boolean"
                },
                "includeRelatedItems": {
                    "type": "boolean"
                },
                "fullTextSearchAllTimePeriods": {
                    "type": "boolean"
                },
                "fullTextSearchRestrictToMetricLabels": {
                    "type": "boolean"
                },
                "normalizedFaceMetric": {
                    "type": "string"
                },
                "normalizedFootnoteMetric": {
                    "type": "string"
                },
                "normalizedBreakoutMetric": {
                    "type": "string"
                },
                "ByDocumentID": {
                    "type": "boolean"
                },
                "XBRLNumericTag": {
                    "type": "string"
                },
                "FactID": {
                    "format": "int32",
                    "type": "integer"
                },
                "blobID": {
                    "type": "string"
                },
                "nonXBRLFactIdentifier": {
                    "format": "int32",
                    "type": "integer"
                },
                "nonXBRLExtractTag": {
                    "type": "string"
                },
                "XBRLFactIdentifier": {
                    "format": "int32",
                    "type": "integer"
                },
                "userSubmittedURL": {
                    "type": "string"
                },
                "subDivide": {
                    "type": "boolean"
                },
                "publicDisclosureID": {
                    "type": "string"
                },
                "historyFactID": {
                    "format": "int32",
                    "type": "integer"
                },
                "disclosureName": {
                    "type": "string"
                },
                "disclosureNames": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "limit": {
                    "format": "int32",
                    "description": "Maximum number of results to get",
                    "type": "integer"
                },
                "footnoteType": {
                    "enum": [
                        "none",
                        "StatementOfFinancialPositionUnclassified_RealEstateOperations",
                        "StatementOfShareholdersEquityAndOtherComprehensiveIncomeCalc2",
                        "StatementOfShareholdersEquityAndOtherComprehensiveIncome",
                        "StatementOfPartnersCapital",
                        "StatementOfOtherComprehensiveIncomeAlternative",
                        "StatementOfOtherComprehensiveIncome",
                        "StatementOfIncomeSecuritiesBasedIncome3",
                        "StatementOfIncomeSecuritiesBasedIncome",
                        "StatementOfIncomeRealEstateInvestmentTrustsCalc2",
                        "StatementOfIncomeRealEstateInvestmentTrusts",
                        "StatementOfIncomeRealEstateExcludingREITsInvestementGainLossWithoutImpairmentElementAlternative4",
                        "StatementOfIncomeRealEstateExcludingREITsCalc2",
                        "StatementOfIncomeRealEstateExcludingREITs",
                        "StatementOfIncomeInvestementGainLossWithoutImpairmentElementAlternative",
                        "StatementOfIncomeInterestBasedRevenueCalc4",
                        "StatementOfIncomeInterestBasedRevenueCalc3",
                        "StatementOfIncomeInterestBasedRevenueCalc2",
                        "StatementOfIncomeInterestBasedRevenue",
                        "StatementOfIncomeInsuranceBasedRevenueInvestementGainLossWithoutImpairmentElementAlternative3",
                        "StatementOfIncomeInsuranceBasedRevenueBreakdownByBusiness",
                        "StatementOfIncomeInsuranceBasedRevenue2",
                        "StatementOfIncomeInsuranceBasedRevenue",
                        "StatementOfIncomeDiscontinuedOperationsAlternate",
                        "StatementOfIncomeAlternative",
                        "StatementOfIncomeAlternateAggregations",
                        "StatementOfIncome",
                        "StatementOfFinancialPositionUnclassified_SecuritiesBasedOperationsSecondAlternative",
                        "StatementOfFinancialPositionUnclassified_SecuritiesBasedOperationsCalc2",
                        "StatementOfFinancialPositionUnclassified_SecuritiesBasedOperations",
                        "StatementOfFinancialPositionUnclassified_RealEstateOperationsSecondAlternative",
                        "StatementOfFinancialPositionUnclassified_RealEstateOperationsFirstAlternative",
                        "StatementOfFinancialPositionUnclassified_InvestmentBasedOperationsFirstAlternative",
                        "StatementOfFinancialPositionUnclassified_InvestmentBasedOperationsAlternativePresentation",
                        "StatementOfFinancialPositionUnclassified_InvestmentBasedOperations",
                        "StatementOfFinancialPositionUnclassified_DepositBasedOperationsSecondAlternate",
                        "StatementOfFinancialPositionUnclassified_DepositBasedOperationsFirstAlternate",
                        "StatementOfFinancialPositionUnclassified_DepositBasedOperations",
                        "StatementOfFinancialPositionClassified_RealEstateOperationsSecondAlternative",
                        "StatementOfFinancialPositionClassified_RealEstateOperationsFirstAlternative",
                        "StatementOfFinancialPositionClassified_RealEstateOperations",
                        "StatementOfFinancialPositionClassifiedFirstAlternative",
                        "StatementOfFinancialPositionClassified",
                        "StatementOfCashFlowsSupplementalDisclosures",
                        "StatementOfCashFlowsIndirectSixthAlternate",
                        "StatementOfCashFlowsIndirectSecuritiesBasedOperationsFourthAlternate",
                        "StatementOfCashFlowsIndirectSecuritiesBasedOperationsFifthAlternate",
                        "StatementOfCashFlowsIndirectSecuritiesBasedOperations",
                        "StatementOfCashFlowsIndirectRealEstateSecondAlternate",
                        "StatementOfCashFlowsIndirectRealEstateFirstAlternate",
                        "StatementOfCashFlowsIndirectRealEstate",
                        "StatementOfCashFlowsIndirectInvestmentBasedOperationsFourthAlternate",
                        "StatementOfCashFlowsIndirectInvestmentBasedOperationsFifthAlternate",
                        "StatementOfCashFlowsIndirectInvestmentBasedOperations",
                        "StatementOfCashFlowsIndirectFifthAlternate",
                        "StatementOfCashFlowsIndirectDepositBasedOperationsFourthAlternate",
                        "StatementOfCashFlowsIndirectDepositBasedOperationsFifthAlternate",
                        "StatementOfCashFlowsIndirectDepositBasedOperations",
                        "StatementOfCashFlowsIndirectAdditionalElements",
                        "StatementOfCashFlowsIndirect",
                        "StatementOfCashFlowsDirectFirstAlternate",
                        "StatementOfCashFlowsDirect",
                        "disclosure_TransfersAndServicing",
                        "disclosure_TemporaryEquity",
                        "disclosure_SummaryOfInvestmentHoldings",
                        "disclosure_SegmentReporting",
                        "disclosure_SECScheduleArticle12_29MortgageLoansOnRealEstate",
                        "disclosure_SECScheduleArticle12_28RealEstateAndAccumulatedDepreciation",
                        "disclosure_SECScheduleArticle12_17Reinsurance",
                        "disclosure_SECScheduleArticle12_09ValuationAndQualifyingAccounts",
                        "disclosure_SECScheduleArticle12_04CondensedFinancialInformation",
                        "disclosure_revenueFromContractsWithCustomers",
                        "disclosure_ResearchAndDevelopment",
                        "disclosure_Reorganizations",
                        "disclosure_RelatedPartyDisclosures",
                        "disclosure_RegulatedOperations",
                        "disclosure_ReceivablesLoansNotesReceivableAndOthers",
                        "disclosure_RealEstate",
                        "disclosure_PropertyPlantAndEquipment",
                        "disclosure_PayablesAndAccruals",
                        "disclosure_OtherThanSecuritiesInvestmentHoldings",
                        "disclosure_OtherLiabilities",
                        "disclosure_OtherExpenses",
                        "disclosure_OrganizationConsolidationAndPresentationOfFinancialStatements",
                        "disclosure_MiscellaneousIndustries",
                        "disclosure_MinorityInterest",
                        "disclosure_Leases",
                        "disclosure_InvestmentsSoldNotYetPurchased",
                        "disclosure_InvestmentsInAndAdvancesToAffiliates",
                        "disclosure_InvestmentsFederalTaxNote",
                        "disclosure_InvestmentsEquityMethodAndJointVentures",
                        "disclosure_InvestmentsDebtAndEquitySecurities",
                        "disclosure_InvestmentsAllOtherInvestments",
                        "disclosure_InvestmentHoldings",
                        "disclosure_Inventory",
                        "disclosure_InterimReporting",
                        "disclosure_IntangibleAssetsGoodwillAndOther",
                        "disclosure_IncomeTaxes",
                        "disclosure_HealthCareOrganizations",
                        "disclosure_guarantor_income_statement",
                        "disclosure_guarantor_balance_sheet",
                        "disclosure_guarantor_cash_flow",
                        "disclosure_Guarantees",
                        "disclosure_GoingConcern",
                        "disclosure_ForeignOperationsAndCurrencyTranslation",
                        "disclosure_FinancialServicesInsurance",
                        "disclosure_FinancialServicesFederalHomeLoanBanks",
                        "disclosure_FinancialServicesBrokersAndDealers",
                        "disclosure_FinancialServicesBankingAndThriftInterest",
                        "disclosure_FinancialServicesBankingAndThrift",
                        "disclosure_FinancialInstrumentsFairValueDisclosures",
                        "disclosure_ExtraordinaryAndUnusualItems",
                        "disclosure_ExtractiveIndustries",
                        "disclosure_ExitOrDisposalCostObligations",
                        "disclosure_Equity",
                        "disclosure_EnvironmentalRemediationObligations",
                        "disclosure_EarningsPerShare",
                        "disclosure_DiscontinuedOperations",
                        "disclosure_DerivativeInstrumentsAndHedgingActivities",
                        "disclosure_DeferredRevenue",
                        "disclosure_DeferredCostsCapitalizedPrepaidAndOtherAssets",
                        "disclosure_Debt",
                        "disclosure_Contractors",
                        "disclosure_CompensationRelatedCostsStockCompensation",
                        "disclosure_CompensationRelatedCostsRetirementBenefits",
                        "disclosure_CompensationRelatedCostsPostemploymentBenefits",
                        "disclosure_CompensationRelatedCostsGeneral",
                        "disclosure_CommitmentAndContingencies",
                        "disclosure_CashAndCashEquivalents",
                        "disclosure_BusinessCombinations",
                        "disclosure_AssetRetirementObligations",
                        "disclosure_AccountingPolicies",
                        "disclosure_AccountingChangesAndErrorCorrections",
                        "disclosure_unidentified",
                        "QuarterlyOrAnualReport",
                        "FaceFinancials",
                        "NotesToFinancialStatements",
                        "user_submitted_document",
                        "ProxyStatement",
                        "ProxyStatement_SummaryCompensationTable",
                        "ProxyStatement_CEOCompensationRatioTable",
                        "ProxyStatement_DirectorCompensationTable",
                        "ProxyStatement_DirectorCommitteeCompensationTable",
                        "ProxyStatement_equityComensationPlansTable",
                        "ProxyStatement_AuditFees",
                        "EarningsPressReleaseFrom8K",
                        "EarningsPressRelease_GaapNonGaapReconcilliation",
                        "EarningsPressRelease_Highlights",
                        "EarningsPressRelease_guidanceOutlook",
                        "EarningsPressRelease_KPIs",
                        "tableFromNonXBRLDocument",
                        "TenKQ_MarketCommonEquity_ShareRepurchases",
                        "eightk_guidanceUpdate",
                        "eightk_conferenceCallTranscript",
                        "eightk_presentationSlides",
                        "eightk_monthlyOperatingMetrics",
                        "eightk_earningsPressRelease_preliminary",
                        "eightk_other",
                        "eightk_correction",
                        "eightk_all_types",
                        "commentLetter",
                        "commentLetterResponse",
                        "NT10KorQ",
                        "eightk_nonfinancial",
                        "form_3",
                        "form_4",
                        "form_5",
                        "MD_A_section",
                        "MD_A_Overview",
                        "MD_A_ContractualObligations",
                        "MD_A_SafeHarbourProvision",
                        "MD_A_SegmentResults",
                        "MD_A_ResultsOfOperations",
                        "MD_A_RecentlyIssuedAccountingAnnouncements",
                        "MD_A_OffBalanceSheetArrangements",
                        "MD_A_InterimPeriodRequirements",
                        "MD_A_TabularDisclosureOfContractualObligations",
                        "MD_A_LiquidityAndCapitalResources",
                        "MD_A_CriticalAccountingPolicies"
                    ],
                    "type": "string"
                },
                "NetworkID": {
                    "format": "int32",
                    "description": "Search by XBRL Network ID",
                    "type": "integer"
                },
                "AllTextBlocks": {
                    "description": "Get all of the XBRL text blocks",
                    "type": "boolean"
                },
                "AllMDASections": {
                    "description": "Get all MDA sections for a single filing",
                    "type": "boolean"
                },
                "FilingID": {
                    "format": "int32",
                    "description": "For non-XBRL proxy filings, etc.  Specifying this will get you all the documents for the company/period that the document is associated with in the SECFiling table.",
                    "type": "integer"
                }
            }
        },
        "FootnotePeriodParameters": {
            "type": "object",
            "properties": {
                "period": {
                    "enum": [
                        "unset",
                        "y",
                        "q1",
                        "q2",
                        "q3",
                        "q4",
                        "h1",
                        "Q3Cum",
                        "TTM",
                        "MRQ",
                        "MRQ_fiscal",
                        "MRCumulative",
                        "year_fiscal",
                        "combined",
                        "allHistory",
                        "MostRecentPeriod",
                        "DateRange"
                    ],
                    "type": "string"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                },
                "endYear": {
                    "format": "int32",
                    "type": "integer"
                },
                "endPeriod": {
                    "enum": [
                        "unset",
                        "y",
                        "q1",
                        "q2",
                        "q3",
                        "q4",
                        "h1",
                        "Q3Cum",
                        "TTM",
                        "MRQ",
                        "MRQ_fiscal",
                        "MRCumulative",
                        "year_fiscal",
                        "combined",
                        "allHistory",
                        "MostRecentPeriod",
                        "DateRange"
                    ],
                    "type": "string"
                },
                "periodType": {
                    "type": "string"
                },
                "useFiscalPeriod": {
                    "type": "boolean"
                },
                "dateRange": {
                    "$ref": "#/definitions/DateRange"
                },
                "allHistory": {
                    "type": "boolean"
                },
                "updateDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "updatedFrom": {
                    "format": "date-time",
                    "type": "string"
                },
                "asOriginallyReported": {
                    "type": "boolean"
                },
                "accessionID": {
                    "format": "int32",
                    "type": "integer"
                },
                "filingID": {
                    "format": "int32",
                    "type": "integer"
                }
            }
        },
        "FootnoteQueryResponse": {
            "type": "object",
            "properties": {
                "footnotes": {
                    "description": "Matching disclosures",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TextFootnote"
                    }
                },
                "nextGroupStartEntityID": {
                    "format": "int32",
                    "type": "integer"
                },
                "nextGroupStartOffset": {
                    "format": "int32",
                    "type": "integer"
                },
                "moreResults": {
                    "type": "boolean"
                }
            }
        },
        "TextFootnote": {
            "type": "object",
            "properties": {
                "entity_name": {
                    "type": "string"
                },
                "accession_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "footnote_type": {
                    "enum": [
                        "none",
                        "StatementOfFinancialPositionUnclassified_RealEstateOperations",
                        "StatementOfShareholdersEquityAndOtherComprehensiveIncomeCalc2",
                        "StatementOfShareholdersEquityAndOtherComprehensiveIncome",
                        "StatementOfPartnersCapital",
                        "StatementOfOtherComprehensiveIncomeAlternative",
                        "StatementOfOtherComprehensiveIncome",
                        "StatementOfIncomeSecuritiesBasedIncome3",
                        "StatementOfIncomeSecuritiesBasedIncome",
                        "StatementOfIncomeRealEstateInvestmentTrustsCalc2",
                        "StatementOfIncomeRealEstateInvestmentTrusts",
                        "StatementOfIncomeRealEstateExcludingREITsInvestementGainLossWithoutImpairmentElementAlternative4",
                        "StatementOfIncomeRealEstateExcludingREITsCalc2",
                        "StatementOfIncomeRealEstateExcludingREITs",
                        "StatementOfIncomeInvestementGainLossWithoutImpairmentElementAlternative",
                        "StatementOfIncomeInterestBasedRevenueCalc4",
                        "StatementOfIncomeInterestBasedRevenueCalc3",
                        "StatementOfIncomeInterestBasedRevenueCalc2",
                        "StatementOfIncomeInterestBasedRevenue",
                        "StatementOfIncomeInsuranceBasedRevenueInvestementGainLossWithoutImpairmentElementAlternative3",
                        "StatementOfIncomeInsuranceBasedRevenueBreakdownByBusiness",
                        "StatementOfIncomeInsuranceBasedRevenue2",
                        "StatementOfIncomeInsuranceBasedRevenue",
                        "StatementOfIncomeDiscontinuedOperationsAlternate",
                        "StatementOfIncomeAlternative",
                        "StatementOfIncomeAlternateAggregations",
                        "StatementOfIncome",
                        "StatementOfFinancialPositionUnclassified_SecuritiesBasedOperationsSecondAlternative",
                        "StatementOfFinancialPositionUnclassified_SecuritiesBasedOperationsCalc2",
                        "StatementOfFinancialPositionUnclassified_SecuritiesBasedOperations",
                        "StatementOfFinancialPositionUnclassified_RealEstateOperationsSecondAlternative",
                        "StatementOfFinancialPositionUnclassified_RealEstateOperationsFirstAlternative",
                        "StatementOfFinancialPositionUnclassified_InvestmentBasedOperationsFirstAlternative",
                        "StatementOfFinancialPositionUnclassified_InvestmentBasedOperationsAlternativePresentation",
                        "StatementOfFinancialPositionUnclassified_InvestmentBasedOperations",
                        "StatementOfFinancialPositionUnclassified_DepositBasedOperationsSecondAlternate",
                        "StatementOfFinancialPositionUnclassified_DepositBasedOperationsFirstAlternate",
                        "StatementOfFinancialPositionUnclassified_DepositBasedOperations",
                        "StatementOfFinancialPositionClassified_RealEstateOperationsSecondAlternative",
                        "StatementOfFinancialPositionClassified_RealEstateOperationsFirstAlternative",
                        "StatementOfFinancialPositionClassified_RealEstateOperations",
                        "StatementOfFinancialPositionClassifiedFirstAlternative",
                        "StatementOfFinancialPositionClassified",
                        "StatementOfCashFlowsSupplementalDisclosures",
                        "StatementOfCashFlowsIndirectSixthAlternate",
                        "StatementOfCashFlowsIndirectSecuritiesBasedOperationsFourthAlternate",
                        "StatementOfCashFlowsIndirectSecuritiesBasedOperationsFifthAlternate",
                        "StatementOfCashFlowsIndirectSecuritiesBasedOperations",
                        "StatementOfCashFlowsIndirectRealEstateSecondAlternate",
                        "StatementOfCashFlowsIndirectRealEstateFirstAlternate",
                        "StatementOfCashFlowsIndirectRealEstate",
                        "StatementOfCashFlowsIndirectInvestmentBasedOperationsFourthAlternate",
                        "StatementOfCashFlowsIndirectInvestmentBasedOperationsFifthAlternate",
                        "StatementOfCashFlowsIndirectInvestmentBasedOperations",
                        "StatementOfCashFlowsIndirectFifthAlternate",
                        "StatementOfCashFlowsIndirectDepositBasedOperationsFourthAlternate",
                        "StatementOfCashFlowsIndirectDepositBasedOperationsFifthAlternate",
                        "StatementOfCashFlowsIndirectDepositBasedOperations",
                        "StatementOfCashFlowsIndirectAdditionalElements",
                        "StatementOfCashFlowsIndirect",
                        "StatementOfCashFlowsDirectFirstAlternate",
                        "StatementOfCashFlowsDirect",
                        "disclosure_TransfersAndServicing",
                        "disclosure_TemporaryEquity",
                        "disclosure_SummaryOfInvestmentHoldings",
                        "disclosure_SegmentReporting",
                        "disclosure_SECScheduleArticle12_29MortgageLoansOnRealEstate",
                        "disclosure_SECScheduleArticle12_28RealEstateAndAccumulatedDepreciation",
                        "disclosure_SECScheduleArticle12_17Reinsurance",
                        "disclosure_SECScheduleArticle12_09ValuationAndQualifyingAccounts",
                        "disclosure_SECScheduleArticle12_04CondensedFinancialInformation",
                        "disclosure_revenueFromContractsWithCustomers",
                        "disclosure_ResearchAndDevelopment",
                        "disclosure_Reorganizations",
                        "disclosure_RelatedPartyDisclosures",
                        "disclosure_RegulatedOperations",
                        "disclosure_ReceivablesLoansNotesReceivableAndOthers",
                        "disclosure_RealEstate",
                        "disclosure_PropertyPlantAndEquipment",
                        "disclosure_PayablesAndAccruals",
                        "disclosure_OtherThanSecuritiesInvestmentHoldings",
                        "disclosure_OtherLiabilities",
                        "disclosure_OtherExpenses",
                        "disclosure_OrganizationConsolidationAndPresentationOfFinancialStatements",
                        "disclosure_MiscellaneousIndustries",
                        "disclosure_MinorityInterest",
                        "disclosure_Leases",
                        "disclosure_InvestmentsSoldNotYetPurchased",
                        "disclosure_InvestmentsInAndAdvancesToAffiliates",
                        "disclosure_InvestmentsFederalTaxNote",
                        "disclosure_InvestmentsEquityMethodAndJointVentures",
                        "disclosure_InvestmentsDebtAndEquitySecurities",
                        "disclosure_InvestmentsAllOtherInvestments",
                        "disclosure_InvestmentHoldings",
                        "disclosure_Inventory",
                        "disclosure_InterimReporting",
                        "disclosure_IntangibleAssetsGoodwillAndOther",
                        "disclosure_IncomeTaxes",
                        "disclosure_HealthCareOrganizations",
                        "disclosure_guarantor_income_statement",
                        "disclosure_guarantor_balance_sheet",
                        "disclosure_guarantor_cash_flow",
                        "disclosure_Guarantees",
                        "disclosure_GoingConcern",
                        "disclosure_ForeignOperationsAndCurrencyTranslation",
                        "disclosure_FinancialServicesInsurance",
                        "disclosure_FinancialServicesFederalHomeLoanBanks",
                        "disclosure_FinancialServicesBrokersAndDealers",
                        "disclosure_FinancialServicesBankingAndThriftInterest",
                        "disclosure_FinancialServicesBankingAndThrift",
                        "disclosure_FinancialInstrumentsFairValueDisclosures",
                        "disclosure_ExtraordinaryAndUnusualItems",
                        "disclosure_ExtractiveIndustries",
                        "disclosure_ExitOrDisposalCostObligations",
                        "disclosure_Equity",
                        "disclosure_EnvironmentalRemediationObligations",
                        "disclosure_EarningsPerShare",
                        "disclosure_DiscontinuedOperations",
                        "disclosure_DerivativeInstrumentsAndHedgingActivities",
                        "disclosure_DeferredRevenue",
                        "disclosure_DeferredCostsCapitalizedPrepaidAndOtherAssets",
                        "disclosure_Debt",
                        "disclosure_Contractors",
                        "disclosure_CompensationRelatedCostsStockCompensation",
                        "disclosure_CompensationRelatedCostsRetirementBenefits",
                        "disclosure_CompensationRelatedCostsPostemploymentBenefits",
                        "disclosure_CompensationRelatedCostsGeneral",
                        "disclosure_CommitmentAndContingencies",
                        "disclosure_CashAndCashEquivalents",
                        "disclosure_BusinessCombinations",
                        "disclosure_AssetRetirementObligations",
                        "disclosure_AccountingPolicies",
                        "disclosure_AccountingChangesAndErrorCorrections",
                        "disclosure_unidentified",
                        "QuarterlyOrAnualReport",
                        "FaceFinancials",
                        "NotesToFinancialStatements",
                        "user_submitted_document",
                        "ProxyStatement",
                        "ProxyStatement_SummaryCompensationTable",
                        "ProxyStatement_CEOCompensationRatioTable",
                        "ProxyStatement_DirectorCompensationTable",
                        "ProxyStatement_DirectorCommitteeCompensationTable",
                        "ProxyStatement_equityComensationPlansTable",
                        "ProxyStatement_AuditFees",
                        "EarningsPressReleaseFrom8K",
                        "EarningsPressRelease_GaapNonGaapReconcilliation",
                        "EarningsPressRelease_Highlights",
                        "EarningsPressRelease_guidanceOutlook",
                        "EarningsPressRelease_KPIs",
                        "tableFromNonXBRLDocument",
                        "TenKQ_MarketCommonEquity_ShareRepurchases",
                        "eightk_guidanceUpdate",
                        "eightk_conferenceCallTranscript",
                        "eightk_presentationSlides",
                        "eightk_monthlyOperatingMetrics",
                        "eightk_earningsPressRelease_preliminary",
                        "eightk_other",
                        "eightk_correction",
                        "eightk_all_types",
                        "commentLetter",
                        "commentLetterResponse",
                        "NT10KorQ",
                        "eightk_nonfinancial",
                        "form_3",
                        "form_4",
                        "form_5",
                        "MD_A_section",
                        "MD_A_Overview",
                        "MD_A_ContractualObligations",
                        "MD_A_SafeHarbourProvision",
                        "MD_A_SegmentResults",
                        "MD_A_ResultsOfOperations",
                        "MD_A_RecentlyIssuedAccountingAnnouncements",
                        "MD_A_OffBalanceSheetArrangements",
                        "MD_A_InterimPeriodRequirements",
                        "MD_A_TabularDisclosureOfContractualObligations",
                        "MD_A_LiquidityAndCapitalResources",
                        "MD_A_CriticalAccountingPolicies"
                    ],
                    "type": "string"
                },
                "SEC_URL": {
                    "type": "string"
                },
                "fiscal_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "fiscal_period": {
                    "type": "string"
                },
                "calendar_year": {
                    "format": "int32",
                    "type": "integer"
                },
                "calendar_period": {
                    "type": "string"
                },
                "filing_date": {
                    "format": "date-time",
                    "type": "string"
                },
                "received_date": {
                    "format": "date-time",
                    "type": "string"
                },
                "document_type": {
                    "type": "string"
                },
                "guide_link": {
                    "type": "string"
                },
                "page_url": {
                    "type": "string"
                },
                "entity_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "id_detail": {
                    "type": "boolean"
                },
                "local_name": {
                    "type": "string"
                },
                "CIK": {
                    "type": "string"
                },
                "sec_accession_number": {
                    "type": "string"
                },
                "network_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "schema": {
                    "enum": [
                        "LocalName",
                        "NetworkID",
                        "BlobID"
                    ],
                    "type": "string",
                    "readOnly": true
                },
                "fact_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "is_XBRL_document": {
                    "type": "boolean"
                },
                "ticker": {
                    "type": "string"
                },
                "sec_filing_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "blob_id": {
                    "type": "string"
                },
                "date_reported": {
                    "format": "date-time",
                    "type": "string"
                },
                "content": {
                    "$ref": "#/definitions/XBRLDisclosure"
                },
                "filing_type": {
                    "enum": [
                        "BusinessWirePR_filedAfterAn8K",
                        "BusinessWirePR_replaced",
                        "proxy",
                        "annualQuarterlyReport",
                        "eightk_earningsPressRelease",
                        "eightk_guidanceUpdate",
                        "eightk_conferenceCallTranscript",
                        "eightk_presentationSlides",
                        "eightk_monthlyOperatingMetrics",
                        "eightk_earningsPressRelease_preliminary",
                        "eightk_earningsPressRelease_correction",
                        "eightk_other",
                        "commentLetter",
                        "commentLetterResponse",
                        "form_3",
                        "form_4",
                        "form_5",
                        "eightk_nonfinancial",
                        "NT10KorQ",
                        "S",
                        "Four24B",
                        "institutionalOwnsership_13F",
                        "ForeignAnnualOrInterimReport"
                    ],
                    "type": "string",
                    "readOnly": true
                },
                "description": {
                    "type": "string"
                },
                "disclosure_type_name": {
                    "type": "string",
                    "readOnly": true
                },
                "period_end_date": {
                    "format": "date-time",
                    "type": "string"
                },
                "footnote_type_title": {
                    "type": "string",
                    "readOnly": true
                },
                "sub_sections": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DisclosureSubSection"
                    }
                }
            }
        },
        "XBRLDisclosure": {
            "type": "object",
            "properties": {
                "entity_id": {
                    "type": "object"
                },
                "entity_name": {
                    "type": "object"
                },
                "document_type": {
                    "type": "string"
                },
                "end_date": {
                    "format": "date-time",
                    "type": "string"
                },
                "filing_date": {
                    "format": "date-time",
                    "type": "string"
                },
                "sec_html_url": {
                    "type": "string"
                },
                "sec_accession_number": {
                    "type": "string"
                },
                "accession_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "label": {
                    "type": "string"
                },
                "fact_id": {
                    "format": "int32",
                    "type": "integer"
                },
                "disclosure_type": {
                    "enum": [
                        "none",
                        "StatementOfFinancialPositionUnclassified_RealEstateOperations",
                        "StatementOfShareholdersEquityAndOtherComprehensiveIncomeCalc2",
                        "StatementOfShareholdersEquityAndOtherComprehensiveIncome",
                        "StatementOfPartnersCapital",
                        "StatementOfOtherComprehensiveIncomeAlternative",
                        "StatementOfOtherComprehensiveIncome",
                        "StatementOfIncomeSecuritiesBasedIncome3",
                        "StatementOfIncomeSecuritiesBasedIncome",
                        "StatementOfIncomeRealEstateInvestmentTrustsCalc2",
                        "StatementOfIncomeRealEstateInvestmentTrusts",
                        "StatementOfIncomeRealEstateExcludingREITsInvestementGainLossWithoutImpairmentElementAlternative4",
                        "StatementOfIncomeRealEstateExcludingREITsCalc2",
                        "StatementOfIncomeRealEstateExcludingREITs",
                        "StatementOfIncomeInvestementGainLossWithoutImpairmentElementAlternative",
                        "StatementOfIncomeInterestBasedRevenueCalc4",
                        "StatementOfIncomeInterestBasedRevenueCalc3",
                        "StatementOfIncomeInterestBasedRevenueCalc2",
                        "StatementOfIncomeInterestBasedRevenue",
                        "StatementOfIncomeInsuranceBasedRevenueInvestementGainLossWithoutImpairmentElementAlternative3",
                        "StatementOfIncomeInsuranceBasedRevenueBreakdownByBusiness",
                        "StatementOfIncomeInsuranceBasedRevenue2",
                        "StatementOfIncomeInsuranceBasedRevenue",
                        "StatementOfIncomeDiscontinuedOperationsAlternate",
                        "StatementOfIncomeAlternative",
                        "StatementOfIncomeAlternateAggregations",
                        "StatementOfIncome",
                        "StatementOfFinancialPositionUnclassified_SecuritiesBasedOperationsSecondAlternative",
                        "StatementOfFinancialPositionUnclassified_SecuritiesBasedOperationsCalc2",
                        "StatementOfFinancialPositionUnclassified_SecuritiesBasedOperations",
                        "StatementOfFinancialPositionUnclassified_RealEstateOperationsSecondAlternative",
                        "StatementOfFinancialPositionUnclassified_RealEstateOperationsFirstAlternative",
                        "StatementOfFinancialPositionUnclassified_InvestmentBasedOperationsFirstAlternative",
                        "StatementOfFinancialPositionUnclassified_InvestmentBasedOperationsAlternativePresentation",
                        "StatementOfFinancialPositionUnclassified_InvestmentBasedOperations",
                        "StatementOfFinancialPositionUnclassified_DepositBasedOperationsSecondAlternate",
                        "StatementOfFinancialPositionUnclassified_DepositBasedOperationsFirstAlternate",
                        "StatementOfFinancialPositionUnclassified_DepositBasedOperations",
                        "StatementOfFinancialPositionClassified_RealEstateOperationsSecondAlternative",
                        "StatementOfFinancialPositionClassified_RealEstateOperationsFirstAlternative",
                        "StatementOfFinancialPositionClassified_RealEstateOperations",
                        "StatementOfFinancialPositionClassifiedFirstAlternative",
                        "StatementOfFinancialPositionClassified",
                        "StatementOfCashFlowsSupplementalDisclosures",
                        "StatementOfCashFlowsIndirectSixthAlternate",
                        "StatementOfCashFlowsIndirectSecuritiesBasedOperationsFourthAlternate",
                        "StatementOfCashFlowsIndirectSecuritiesBasedOperationsFifthAlternate",
                        "StatementOfCashFlowsIndirectSecuritiesBasedOperations",
                        "StatementOfCashFlowsIndirectRealEstateSecondAlternate",
                        "StatementOfCashFlowsIndirectRealEstateFirstAlternate",
                        "StatementOfCashFlowsIndirectRealEstate",
                        "StatementOfCashFlowsIndirectInvestmentBasedOperationsFourthAlternate",
[...]
